# Student Habits and Academic Performance Dataset

## ðŸ“˜ Dataset Overview
This synthetic dataset simulates the academic and lifestyle behaviors of 80,000 students, including diverse features like study habits, mental health, family background, motivation, and environmental factors. The goal is to explore how different variables affect student performance in terms of GPA and exam scores.

**Imports and Setup.**

In [ ]:
# Import and Setup!
import pandas as pd
import numpy as np

# File Path!
# file_path = r'E:\Environment\Data Science\Mini Exercise Project 1\enhanced_student_habits_performance_dataset\enhanced_student_habits_performance_dataset.csv'

file_path = r'enhanced_student_habits_performance_dataset/enhanced_student_habits_performance_dataset.csv'

# file_path = r'https://raw.githubusercontent.com/siamakanda/Student-Habits-and-Academic-Performance/refs/heads/main/enhanced_student_habits_performance_dataset/enhanced_student_habits_performance_dataset.csv'

# Part 1: Getting Started and Data Inspection
**How do you load the enhanced_student_habits_performance_dataset.csv file into a Pandas DataFrame?**

In [7]:
df = pd.read_csv(file_path)
df

FileNotFoundError: [Errno 2] No such file or directory: 'enhanced_student_habits_performance_dataset/enhanced_student_habits_performance_dataset.csv'

**How do you display the first 5 rows of the DataFrame?**

In [4]:
df.head()

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98

**How do you display the last 10 rows of the DataFrame?**

In [5]:
df.tail()

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
79995,179995,16,Male,Engineering,3.7,2.1,1.0,Yes,80.8,6.1,...,8.3,Library,No,Low,1,4,10,Auditory,5.3,88
79996,179996,16,Female,Business,1.2,0.4,2.9,No,99.5,4.1,...,4.7,Co-Learning Group,No,Low,3,2,10,Kinesthetic,6.8,52
79997,179997,26,Female,Arts,4.1,1.6,1.6,Yes,46.1,8.3,...,7.5,Dorm,No,Medium,7,1,10,Visual,1.3,89
79998,179998,23,Other,Biology,3.8,0.6,3.5,Yes,58.7,5.8,...,9.3,Quiet Room,Yes,Low,2,8,7,Kinesthetic,3.7,96
79999,179999,25,Other,Engineering,3.0,4.5,3.4,Yes,97.7,5.3,...,12.2,Co-Learning Group,Yes,Medium,1,8,7,Reading,6.7,100

**How do you get a concise summary of the DataFrame, including data types and non-null values?**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     80000 non-null  int64
 1   age                            80000 non-null  int64
 2   gender                         80000 non-null  object
 3   major                          80000 non-null  object
 4   study_hours_per_day            80000 non-null  float64
 5   social_media_hours             80000 non-null  float64
 6   netflix_hours                  80000 non-null  float64
 7   part_time_job                  80000 non-null  object
 8   attendance_percentage          80000 non-null  float64
 9   sleep_hours                    80000 non-null  float64
 10  diet_quality                   80000 non-null  object
 11  exercise_frequency             80000 non-null  int64
 12  parental_education_level       80000 non-null  object
 13  internet_quality               80000 non-null  object
 14  mental_health_rating           80000 non-null  float64
 15  extracurricular_participation  80000 non-null  object
 16  previous_gpa                   80000 non-null  float64
 17  semester                       80000 non-null  int64
 18  stress_level                   80000 non-null  float64
 19  dropout_risk                   80000 non-null  object
 20  social_activity                80000 non-null  int64
 21  screen_time                    80000 non-null  float64
 22  study_environment              80000 non-null  object
 23  access_to_tutoring             80000 non-null  object
 24  family_income_range            80000 non-null  object
 25  parental_support_level         80000 non-null  int64
 26  motivation_level               80000 non-null  int64
 27  exam_anxiety_score             80000 non-null  int64
 28  learning_style                 80000 non-null  object
 29  time_management_score          80000 non-null  float64
 30  exam_score                     80000 non-null  int64
dtypes: float64(10), int64(9), object(12)
memory usage: 18.9+ MB

**What are the dimensions (number of rows and columns) of the DataFrame?**

In [7]:
df.shape

(80000, 31)

**How do you list all the column names in the DataFrame?**

In [8]:
df.columns.tolist()

['student_id',
 'age',
 'gender',
 'major',
 'study_hours_per_day',
 'social_media_hours',
 'netflix_hours',
 'part_time_job',
 'attendance_percentage',
 'sleep_hours',
 'diet_quality',
 'exercise_frequency',
 'parental_education_level',
 'internet_quality',
 'mental_health_rating',
 'extracurricular_participation',
 'previous_gpa',
 'semester',
 'stress_level',
 'dropout_risk',
 'social_activity',
 'screen_time',
 'study_environment',
 'access_to_tutoring',
 'family_income_range',
 'parental_support_level',
 'motivation_level',
 'exam_anxiety_score',
 'learning_style',
 'time_management_score',
 'exam_score']

**How do you check the data type of each column?**

In [9]:
df.dtypes

student_id                         int64
age                                int64
gender                            object
major                             object
study_hours_per_day              float64
social_media_hours               float64
netflix_hours                    float64
part_time_job                     object
attendance_percentage            float64
sleep_hours                      float64
diet_quality                      object
exercise_frequency                 int64
parental_education_level          object
internet_quality                  object
mental_health_rating             float64
extracurricular_participation     object
previous_gpa                     float64
semester                           int64
stress_level                     float64
dropout_risk                      object
social_activity                    int64
screen_time                      float64
study_environment                 object
access_to_tutoring                object
family_income_range               object
parental_support_level             int64
motivation_level                   int64
exam_anxiety_score                 int64
learning_style                    object
time_management_score            float64
exam_score                         int64
dtype: object


# Part 2: Selecting and Filtering Data
**How do you select and display only the student_id and exam_score columns?**

In [10]:
df[['student_id', 'exam_score']]

       student_id  exam_score
0          100000         100
1          100001          99
2          100002          98
3          100003         100
4          100004          98
...           ...         ...
79995      179995          88
79996      179996          52
79997      179997          89
79998      179998          96
79999      179999         100

[80000 rows x 2 columns]

**How do you select all columns except student_id?**

In [11]:
df.loc[:, df.columns != 'student_id']

,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,Poor,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,Good,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,Good,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,Fair,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,Good,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,16,Male,Engineering,3.700000,2.1,1.0,Yes,80.8,6.1,Fair,...,8.3,Library,No,Low,1,4,10,Auditory,5.3,88
79996,16,Female,Business,1.200000,0.4,2.9,No,99.5,4.1,Good,...,4.7,Co-Learning Group,No,Low,3,2,10,Kinesthetic,6.8,52
79997,26,Female,Arts,4.100000,1.6,1.6,Yes,46.1,8.3,Good,...,7.5,Dorm,No,Medium,7,1,10,Visual,1.3,89
79998,23,Other,Biology,3.800000,0.6,3.5,Yes,58.7,5.8,Good,...,9.3,Quiet Room,Yes,Low,2,8,7,Kinesthetic,3.7,96
79999,25,Other,Engineering,3.000000,4.5,3.4,Yes,97.7,5.3,Fair,...,12.2,Co-Learning Group,Yes,Medium,1,8,7,Reading,6.7,100

**How do you filter the DataFrame to show only students older than 25 years?**

In [12]:
df[df['age'] > 25]

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
8,100008,28,Female,Psychology,0.600000,0.3,2.6,Yes,64.2,7.6,...,4.8,Library,No,Low,4,4,10,Kinesthetic,5.8,70
11,100011,26,Other,Biology,3.900000,3.2,1.8,No,40.6,8.1,...,10.8,Dorm,No,Low,2,9,6,Auditory,2.9,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79979,179979,26,Male,Biology,7.400000,1.7,0.9,No,48.8,5.2,...,11.9,Cafe,Yes,Medium,3,10,5,Auditory,6.4,100
79987,179987,28,Other,Computer Science,5.248196,0.9,0.5,No,94.2,7.7,...,8.5,Co-Learning Group,Yes,High,8,4,10,Kinesthetic,1.7,89
79988,179988,28,Female,Engineering,2.700000,3.8,0.0,Yes,50.3,9.3,...,8.4,Cafe,Yes,High,5,10,5,Kinesthetic,5.8,98
79993,179993,28,Male,Arts,1.300000,1.9,1.9,Yes,75.7,5.3,...,6.1,Quiet Room,Yes,Medium,2,3,10,Kinesthetic,8.3,60
79997,179997,26,Female,Arts,4.100000,1.6,1.6,Yes,46.1,8.3,...,7.5,Dorm,No,Medium,7,1,10,Visual,1.3,89

**How do you filter the DataFrame to show only female students?**

In [13]:
df[df['gender'] == 'Female']

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98
5,100005,17,Female,Engineering,4.200000,0.5,2.5,No,49.2,9.2,...,8.9,Quiet Room,No,High,1,10,5,Visual,3.9,94
8,100008,28,Female,Psychology,0.600000,0.3,2.6,Yes,64.2,7.6,...,4.8,Library,No,Low,4,4,10,Kinesthetic,5.8,70
12,100012,19,Female,Business,4.700000,3.3,3.8,No,93.4,7.4,...,12.1,Dorm,Yes,Medium,5,10,5,Auditory,2.9,96
13,100013,24,Female,Business,7.400000,3.2,1.0,Yes,73.7,5.9,...,13.1,Library,No,High,1,6,9,Kinesthetic,6.2,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79982,179982,23,Female,Computer Science,3.572364,0.4,0.1,Yes,71.4,8.6,...,5.0,Dorm,No,Medium,7,3,10,Auditory,3.7,61
79988,179988,28,Female,Engineering,2.700000,3.8,0.0,Yes,50.3,9.3,...,8.4,Cafe,Yes,High,5,10,5,Kinesthetic,5.8,98
79991,179991,24,Female,Engineering,0.000000,2.5,1.2,Yes,62.3,4.1,...,5.2,Dorm,No,High,4,2,10,Visual,4.0,81
79996,179996,16,Female,Business,1.200000,0.4,2.9,No,99.5,4.1,...,4.7,Co-Learning Group,No,Low,3,2,10,Kinesthetic,6.8,52
79997,179997,26,Female,Arts,4.100000,1.6,1.6,Yes,46.1,8.3,...,7.5,Dorm,No,Medium,7,1,10,Visual,1.3,89

**How do you filter the DataFrame to show students who are 'Male' AND have an exam_score greater than 90?**

In [14]:
df[   (df['gender'] == 'Male') & (df['exam_score'] > 90)   ]

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
6,100006,19,Male,Psychology,4.100000,2.4,2.2,Yes,97.9,8.5,...,9.2,Dorm,Yes,High,5,7,8,Kinesthetic,10.0,97
9,100009,19,Male,Engineering,5.200000,1.1,1.6,Yes,40.1,7.2,...,8.0,Cafe,Yes,Medium,7,9,6,Auditory,7.0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79962,179962,27,Male,Computer Science,10.197103,2.6,2.6,Yes,71.6,6.8,...,16.4,Dorm,Yes,Low,7,10,5,Auditory,7.4,99
79964,179964,20,Male,Biology,3.100000,3.1,1.1,No,58.2,9.1,...,9.1,Co-Learning Group,Yes,Medium,8,6,9,Reading,3.8,99
79975,179975,25,Male,Computer Science,6.905902,4.4,2.8,No,82.2,8.6,...,15.9,Library,No,Medium,4,3,10,Visual,1.4,92
79979,179979,26,Male,Biology,7.400000,1.7,0.9,No,48.8,5.2,...,11.9,Cafe,Yes,Medium,3,10,5,Auditory,6.4,100
79990,179990,25,Male,Engineering,2.200000,2.4,3.2,Yes,89.8,7.3,...,8.6,Library,Yes,Low,10,6,9,Auditory,1.7,92

**How do you filter the DataFrame to show students who are 'Female' OR have a dropout_risk of 'Yes'?**

In [15]:
df[(df['gender'] == 'Female') | (df['dropout_risk'] == 'Yes')]

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98
5,100005,17,Female,Engineering,4.200000,0.5,2.5,No,49.2,9.2,...,8.9,Quiet Room,No,High,1,10,5,Visual,3.9,94
8,100008,28,Female,Psychology,0.600000,0.3,2.6,Yes,64.2,7.6,...,4.8,Library,No,Low,4,4,10,Kinesthetic,5.8,70
12,100012,19,Female,Business,4.700000,3.3,3.8,No,93.4,7.4,...,12.1,Dorm,Yes,Medium,5,10,5,Auditory,2.9,96
13,100013,24,Female,Business,7.400000,3.2,1.0,Yes,73.7,5.9,...,13.1,Library,No,High,1,6,9,Kinesthetic,6.2,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79982,179982,23,Female,Computer Science,3.572364,0.4,0.1,Yes,71.4,8.6,...,5.0,Dorm,No,Medium,7,3,10,Auditory,3.7,61
79988,179988,28,Female,Engineering,2.700000,3.8,0.0,Yes,50.3,9.3,...,8.4,Cafe,Yes,High,5,10,5,Kinesthetic,5.8,98
79991,179991,24,Female,Engineering,0.000000,2.5,1.2,Yes,62.3,4.1,...,5.2,Dorm,No,High,4,2,10,Visual,4.0,81
79996,179996,16,Female,Business,1.200000,0.4,2.9,No,99.5,4.1,...,4.7,Co-Learning Group,No,Low,3,2,10,Kinesthetic,6.8,52
79997,179997,26,Female,Arts,4.100000,1.6,1.6,Yes,46.1,8.3,...,7.5,Dorm,No,Medium,7,1,10,Visual,1.3,89

**How do you find all students whose major is 'Computer Science'?**

In [16]:
df[df['major'] == 'Computer Science']

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
15,100015,17,Female,Computer Science,3.527595,0.1,0.8,Yes,98.0,8.0,...,5.1,Quiet Room,No,Medium,9,6,9,Reading,9.5,87
23,100023,23,Male,Computer Science,3.279126,3.8,3.3,No,68.2,6.5,...,10.9,Quiet Room,Yes,Medium,4,2,10,Visual,8.0,100
29,100029,18,Female,Computer Science,3.837870,3.8,0.4,No,68.2,5.8,...,8.1,Quiet Room,Yes,Low,5,8,7,Kinesthetic,2.0,100
30,100030,26,Other,Computer Science,7.606318,4.0,0.9,Yes,94.5,6.8,...,13.6,Co-Learning Group,Yes,Medium,5,10,5,Visual,6.6,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79981,179981,21,Other,Computer Science,4.125943,3.3,1.0,Yes,71.6,8.1,...,8.8,Library,Yes,High,5,7,8,Kinesthetic,2.4,78
79982,179982,23,Female,Computer Science,3.572364,0.4,0.1,Yes,71.4,8.6,...,5.0,Dorm,No,Medium,7,3,10,Auditory,3.7,61
79984,179984,22,Male,Computer Science,6.268124,3.2,0.3,Yes,79.4,7.2,...,10.1,Dorm,No,Medium,5,5,10,Auditory,6.9,74
79987,179987,28,Other,Computer Science,5.248196,0.9,0.5,No,94.2,7.7,...,8.5,Co-Learning Group,Yes,High,8,4,10,Kinesthetic,1.7,89
79992,179992,20,Other,Computer Science,5.627152,0.6,3.9,Yes,66.0,5.3,...,10.5,Co-Learning Group,Yes,Low,2,7,8,Auditory,3.2,76


# Part 3: Basic Statistics and Aggregation
**What is the average exam_score for all students?**

In [17]:
average = df['exam_score'].mean()
print('The average in exam score for all students is', average)

The average in exam score for all students is 89.14135

**What is the maximum study_hours_per_day recorded?**

In [18]:
mxhr = df.study_hours_per_day.max()
print('The maximum study_hours_per_day is', mxhr)

The maximum study_hours_per_day is 12.0

**What is the minimum netflix_hours recorded?**

In [19]:
print('Minimum netflix_hours:', df.netflix_hours.min())

Minimum netflix_hours: 0.0

**How many unique values are there in the gender column?**

In [20]:
gen_count = len(df.gender.unique())
print('Total :', gen_count)

Total : 3

**How do you count the occurrences of each major in the dataset?**

In [21]:
df['major'].value_counts()

major
Arts                13505
Psychology          13437
Computer Science    13352
Business            13276
Engineering         13229
Biology             13201
Name: count, dtype: int64

**What is the average exam_score for each gender?**

In [22]:
male = df[df['gender'] == 'Male'].exam_score.mean()
female = df[df['gender'] == 'Female'].exam_score.mean()
other = df[df['gender'] == 'Other'].exam_score.mean()


print(f'The avarage exam score for male is {male}')
print(f'The avarage exam score for female is {female}')
print(f'The avarage exam score for other is {other}')

The avarage exam score for male is 89.15203386021425
The avarage exam score for female is 89.10844411158959
The avarage exam score for other is 89.16366507500845

**What is the average study_hours_per_day for students with and without a part_time_job?**

In [23]:
df

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,179995,16,Male,Engineering,3.700000,2.1,1.0,Yes,80.8,6.1,...,8.3,Library,No,Low,1,4,10,Auditory,5.3,88
79996,179996,16,Female,Business,1.200000,0.4,2.9,No,99.5,4.1,...,4.7,Co-Learning Group,No,Low,3,2,10,Kinesthetic,6.8,52
79997,179997,26,Female,Arts,4.100000,1.6,1.6,Yes,46.1,8.3,...,7.5,Dorm,No,Medium,7,1,10,Visual,1.3,89
79998,179998,23,Other,Biology,3.800000,0.6,3.5,Yes,58.7,5.8,...,9.3,Quiet Room,Yes,Low,2,8,7,Kinesthetic,3.7,96
79999,179999,25,Other,Engineering,3.000000,4.5,3.4,Yes,97.7,5.3,...,12.2,Co-Learning Group,Yes,Medium,1,8,7,Reading,6.7,100

In [36]:
who_have_job = df[df['part_time_job']=='Yes']
no_job =  df[df['part_time_job']=='No']

st_col = who_have_job['study_hours_per_day'].mean()
st_col_no = no_job['study_hours_per_day'].mean()

print('Have part-time job', st_col)
print("Don't have part-time job", st_col_no)

Have part-time job 4.168088834454209
Don't have part-time job 4.180626416572783

**How do you find the total number of students for each parental_education_level?**

In [38]:
print(df['parental_education_level'].value_counts())

parental_education_level
Some College    16115
High School     16106
Bachelor        15986
Master          15908
PhD             15885
Name: count, dtype: int64


# Part 4: Data Manipulation and More
**How do you check for any missing values in the entire DataFrame?**

In [41]:
df.isnull().count()

student_id                       80000
age                              80000
gender                           80000
major                            80000
study_hours_per_day              80000
social_media_hours               80000
netflix_hours                    80000
part_time_job                    80000
attendance_percentage            80000
sleep_hours                      80000
diet_quality                     80000
exercise_frequency               80000
parental_education_level         80000
internet_quality                 80000
mental_health_rating             80000
extracurricular_participation    80000
previous_gpa                     80000
semester                         80000
stress_level                     80000
dropout_risk                     80000
social_activity                  80000
screen_time                      80000
study_environment                80000
access_to_tutoring               80000
family_income_range              80000
parental_support_level           80000
motivation_level                 80000
exam_anxiety_score               80000
learning_style                   80000
time_management_score            80000
exam_score                       80000
dtype: int64

**How do you check for missing values specifically in the mental_health_rating column?**

In [42]:
df.mental_health_rating.isnull().value_counts()

mental_health_rating
False    80000
Name: count, dtype: int64

**How would you rename the column study_hours_per_day to daily_study_hours? (Just show the code for renaming, no need to save it permanently for this question).**

In [43]:
df.rename(columns={'study_hours_per_day': 'daily_study_hours'})

,student_id,age,gender,major,daily_study_hours,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,179995,16,Male,Engineering,3.700000,2.1,1.0,Yes,80.8,6.1,...,8.3,Library,No,Low,1,4,10,Auditory,5.3,88
79996,179996,16,Female,Business,1.200000,0.4,2.9,No,99.5,4.1,...,4.7,Co-Learning Group,No,Low,3,2,10,Kinesthetic,6.8,52
79997,179997,26,Female,Arts,4.100000,1.6,1.6,Yes,46.1,8.3,...,7.5,Dorm,No,Medium,7,1,10,Visual,1.3,89
79998,179998,23,Other,Biology,3.800000,0.6,3.5,Yes,58.7,5.8,...,9.3,Quiet Room,Yes,Low,2,8,7,Kinesthetic,3.7,96
79999,179999,25,Other,Engineering,3.000000,4.5,3.4,Yes,97.7,5.3,...,12.2,Co-Learning Group,Yes,Medium,1,8,7,Reading,6.7,100

**How do you sort the DataFrame by exam_score in descending order?**

In [ ]:
df.sort_values(by='exam_score', ascending=False)

In [45]:
df.sort_values(by='exam_score', ascending=False)

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
37007,137007,22,Male,Arts,3.300000,2.0,3.7,Yes,86.2,5.8,...,9.0,Co-Learning Group,No,Low,4,6,9,Reading,6.2,100
37369,137369,25,Male,Psychology,5.700000,4.3,0.9,No,72.0,9.1,...,11.1,Dorm,Yes,High,3,9,6,Auditory,4.4,100
37366,137366,21,Other,Arts,1.700000,0.2,0.9,No,54.8,8.5,...,4.2,Co-Learning Group,Yes,Medium,9,9,6,Reading,7.6,100
37361,137361,25,Male,Business,2.900000,4.6,0.2,No,46.9,7.7,...,7.8,Library,No,Low,10,6,9,Visual,6.5,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70912,170912,25,Female,Arts,0.900000,4.2,3.5,Yes,99.1,4.7,...,8.8,Dorm,No,High,8,5,10,Auditory,6.2,39
32164,132164,16,Female,Psychology,2.900000,2.9,1.7,Yes,99.1,6.3,...,8.7,Dorm,No,Medium,3,1,10,Kinesthetic,9.6,39
6722,106722,21,Other,Biology,1.300000,2.0,0.8,No,54.9,6.7,...,4.3,Dorm,Yes,High,10,2,10,Reading,3.6,38
57083,157083,24,Female,Engineering,0.000000,4.1,1.1,No,42.3,5.1,...,5.5,Co-Learning Group,No,Medium,7,2,10,Reading,7.9,37
77639,177639,26,Male,Engineering,0.000000,1.0,2.4,Yes,80.9,5.5,...,3.5,Dorm,Yes,Medium,8,2,10,Kinesthetic,3.5,36

**How do you sort the DataFrame first by major (ascending) and then by exam_score (descending)?**

In [46]:
df.sort_values(by=['major', 'exam_score'], ascending=[True, False])

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
10,100010,16,Other,Arts,0.0,2.7,0.2,No,44.1,6.9,...,3.9,Co-Learning Group,Yes,Medium,2,10,5,Visual,3.2,100
39,100039,17,Other,Arts,7.4,1.5,1.5,No,74.0,7.4,...,10.7,Co-Learning Group,No,Low,2,10,5,Auditory,8.8,100
42,100042,28,Other,Arts,5.9,0.7,3.6,Yes,50.5,6.9,...,10.9,Library,No,Medium,9,9,6,Reading,9.2,100
104,100104,19,Female,Arts,6.3,2.0,2.0,No,72.6,7.9,...,12.1,Quiet Room,Yes,High,9,10,5,Visual,6.7,100
117,100117,23,Female,Arts,4.8,3.8,2.4,Yes,58.9,8.6,...,11.8,Co-Learning Group,No,High,2,4,10,Reading,6.0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36774,136774,26,Other,Psychology,0.3,1.3,3.4,Yes,95.8,7.5,...,5.3,Dorm,No,High,6,2,10,Visual,4.1,44
71080,171080,16,Other,Psychology,1.3,3.2,2.9,No,96.1,7.0,...,7.7,Co-Learning Group,No,Low,2,1,10,Visual,5.1,44
26761,126761,20,Male,Psychology,3.1,0.5,2.5,Yes,72.9,6.1,...,6.9,Dorm,No,High,5,1,10,Visual,7.8,43
45017,145017,20,Male,Psychology,0.0,4.8,2.9,Yes,93.1,7.3,...,8.0,Cafe,No,High,1,1,10,Visual,3.9,43
32164,132164,16,Female,Psychology,2.9,2.9,1.7,Yes,99.1,6.3,...,8.7,Dorm,No,Medium,3,1,10,Kinesthetic,9.6,39

**How do you create a new column called total_screen_time by adding social_media_hours and netflix_hours?**

In [ ]:
df['total_screen_time'] = df['social_media_hours'] + df['netflix_hours']

In [54]:
df['total_screen_time'] = df.social_media_hours + df.netflix_hours

df

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score,total_screen_time
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100,3.1
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99,0.9
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,Library,Yes,High,3,9,6,Kinesthetic,7.6,98,4.9
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100,6.9
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,179995,16,Male,Engineering,3.700000,2.1,1.0,Yes,80.8,6.1,...,Library,No,Low,1,4,10,Auditory,5.3,88,3.1
79996,179996,16,Female,Business,1.200000,0.4,2.9,No,99.5,4.1,...,Co-Learning Group,No,Low,3,2,10,Kinesthetic,6.8,52,3.3
79997,179997,26,Female,Arts,4.100000,1.6,1.6,Yes,46.1,8.3,...,Dorm,No,Medium,7,1,10,Visual,1.3,89,3.2
79998,179998,23,Other,Biology,3.800000,0.6,3.5,Yes,58.7,5.8,...,Quiet Room,Yes,Low,2,8,7,Kinesthetic,3.7,96,4.1
79999,179999,25,Other,Engineering,3.000000,4.5,3.4,Yes,97.7,5.3,...,Co-Learning Group,Yes,Medium,1,8,7,Reading,6.7,100,7.9

**How do you find the average exam_score for students based on their diet_quality and exercise_frequency? (Hint: Use groupby with multiple columns).**

In [ ]:
df.groupby(['diet_quality', 'exercise_frequency'])['exam_score'].mean()

In [57]:
 df2 = df.groupby(['diet_quality', 'exercise_frequency'])['exam_score'].mean()
df2 = pd.DataFrame(df2)
df2

                                 exam_score
diet_quality exercise_frequency
Fair         0                    87.913238
             1                    88.355279
             2                    88.302017
             3                    89.089860
             4                    89.441055
             5                    89.643723
             6                    90.346009
             7                    91.050766
Good         0                    87.285539
             1                    87.951283
             2                    88.190319
             3                    88.830163
             4                    89.593725
             5                    89.915667
             6                    90.198866
             7                    90.280040
Poor         0                    87.681081
             1                    88.065814
             2                    88.617009
             3                    89.287392
             4                    89.217679
             5                    89.458284
             6                    90.365513
             7                    90.688981

**How do you select rows where dropout_risk is 'Yes' and calculate the average stress_level for these students?**

In [69]:
df_stress = df[df['dropout_risk'] == 'Yes'].loc[:,['student_id', 'dropout_risk', 'stress_level']]
df_stress.head(10)

     student_id dropout_risk  stress_level
24       100024          Yes           9.5
50       100050          Yes           8.1
118      100118          Yes          10.0
157      100157          Yes           8.2
239      100239          Yes           8.7
240      100240          Yes           8.3
262      100262          Yes           8.6
291      100291          Yes           8.2
351      100351          Yes           8.7
535      100535          Yes           8.3

In [70]:

print('Average stress_level for these students:', df_stress.stress_level.mean())

Average stress_level for these students: 8.889380530973451